<div class="foot" id="foot">
        <footer>
            <p><a href="https://mail.google.com/mail/u/0/#compose " target="_blank">mayanksinghms777@gmail.com</a></p>
            <a href=""><img src="twitterlogo.png" alt="" width="40px" height="40px"></a>
            <a href="https://www.instagram.com/mayanksinghms777/" target="_blank"><img src="instagramlogo.png" alt=""  width="80px" height="80px" style="margin-top : 20px"></a>
            <a href=""><img src="facebooklogo.png" alt=""  width="37px" height="37px"></a>
            <p>&copy; &nbsp;Mayank kumar singh&nbsp;</p>
        </footer>
    </div>