 <nav id="navbar">
           <ul>
               <li><a href="#navbar">Home</a></li>
               <li><a href="#text">About</a></li>
               <li><a href="#text3">Projects</a> </li>
               <li><a href="#text4">Resume</a> </li>
               <li><a href="#foot">Contact</a> </li>
           </ul>
       </nav>